// variables_colors
$colorBlue: #18649a;
$lightenBlue: lighten($colorBlue, 10%);
$colorSilver: #c0c0c0;
$colorGreen: rgb(112, 206, 75);
$lightenGreen: lighten($colorGreen, 10%);
$colorPink: rgb(255, 5, 109);
$lightenPink: lighten($colorPink, 10%);
$colorLightBlue: rgb(0, 192, 250);
$lightenBlue: lighten($colorLightBlue, 10%);
$colorWhite: #ffffff;
$colorBlackFont:rgb(61, 61, 61);
$colorCreme: rgb(248, 241, 241);
$lightYellow: #ffec64;
$lightYellowTwo: #ffab23;
$lightYellowTree: #ffee66;
$whiteButton: #fff6af;
$sliderButton: #00000087;

// variables_size
$fontSizeTitle: 19px;
$fontSizeNav: 15px;